body {
    background-color: #FCFCFC;
    font-family: sans-serif;
}

h1 {
    /* font-size: 2.1rem; */
}

h2 {
    font-size: 2.5rem;
}

h3 {
    font-size: 2.3rem;
    color: #EA4C89;
}

h4 {
    color: #44C0FF;
    font-size: 2rem;
}

h5 {
    font-size: 1.3rem;
    border-bottom: 1px solid #eaeaea;
    color: #999;
}

h6 {
    font-size: 1.1rem;
}

em{
    /* font-size: 0.6rem; */
}

img {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
    border: 0;
}

header, footer {
    margin: 4rem 0;
    text-align: center;
}

main {
    margin: 4rem 0;
}

.container {
    width: 90%;
    max-width: 600px;
}

.header-logo img {
    transition: border-color 0.1s linear;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border-width: 4px;
    border-style: solid;
    border-color: #E1E1E1;
}

.header-logo img:hover {
    transition: border-color 0.1s linear;
    border-color: #F1F1F1;
}

.site-title {
    margin-top: 2rem;
}

.entry-title {
    margin-bottom: 0;
}

.entry-title a, .tag a, .category a {
    text-decoration: none;
    letter-spacing: 0.1px;
}
.entry-title a::before {
    transition: border-color 0.1s linear;
    content: "";
    display: inline-block;
    width: 1rem;
    height: 1rem;
    border-width: 2px;
    border-style: solid;
    border-color: #ddd;
    border-left: none;
    border-bottom: none;
    transform: rotateZ(45deg);
    margin-right: 15px;
    margin-bottom: 3px;
}
.entry-title a:hover::before {
    transition: border-color 0.1s linear;
    border-color: #EA4C89;
}

.entry-meta {
    display: inline-block;
    font-size: 1.7rem;
    color: #888;
    margin-top: 10px;
    width: 100%;
}
.entry-meta .entry-categories{
    float: right;
}
.footer-link {
    margin: 2rem 0;
}
.footer-link a{
    display: inline-block;
    text-decoration: none;
    font-size: 2rem;
    margin: 0 5px;
}

.hr {
    height: 1px;
    margin: 2rem 0;
    background: #E1E1E1;
    background: -webkit-gradient(linear, left top, right top, from(white), color-stop(#E1E1E1), to(white));
    background: -webkit-linear-gradient(left, white, #E1E1E1, white);
    background: linear-gradient(to right, white, #E1E1E1, white);
}


[itemprop=entry-text] h1 {
    font-size: 3rem;
    border-left: 3px solid #44C0FF;
    padding: 5px 0px 5px 15px;
    color: #777;
}

[itemprop=entry-text] h2 {
    padding-bottom: 5px;
    color: #aaa;
    border-bottom: 3px double #E1E1E1;
}

[itemprop=entry-text] ul {
    list-style: circle outside;
    margin-left: 20px;
}
[itemprop=entry-text] a{
    text-decoration: none;
}
blockquote p {
    font-style: italic;
    font-weight: 300;
    font-size: 1.7rem;
    border-left: solid 0.4rem #F0F0F0;
    padding: 0.7rem 0.7rem 0.7rem 1.5rem;
    quotes: none;
    color: #777;
}
dl.entry-categories {
    display: inline-block;
    margin: 0;
}
dt.category {
    display: inline;
    margin-right: 5px;
    font-size: 1.5rem;
}
dl.entry-tags {
    display: block;
    margin-top: 0;
}
dt.tag {
    display: inline;
    margin-right: 5px;
    font-size: 1.3rem;
}


/* list */
.list-title i{
    margin-right: 10px;
}

/* image */
figure {
    position: relative;
}
figcaption {
    position: absolute;
    bottom: 0;
    background: rgba(0, 0, 0, 0.2);
    width: calc(100% - 2rem);
    color: white;
    padding: 1rem;
}
figcaption span {
    font-size: 1.2rem;
}
